{% extends "item.html" %}


{% block left %}
    {% set action = '' %}

    {% if post['type'] == 'WatchEvent' %}
        {% set action = 'Watched' %}

    {% elif post['type'] == 'PushEvent' %}
        {% set action = 'Pushed' %}

    {% elif post['type'] == 'PullRequestEvent' %}
        {% if post['payload']['action'] == 'closed' %}
            {% set action = 'Closed pull request' %}
        {% elif post['payload']['action'] == 'opened' %}
            {% set action = 'Opened pull request' %}
        {% end %}

    {% elif post['type'] == 'IssueCommentEvent' %}
        {% set action = 'Commented' %}

    {% elif post['type'] == 'IssuesEvent' %}
        {% if post['payload']['action'] == 'closed' %}
            {% set action = 'Clsoed issue' %}
        {% elif post['payload']['action'] == 'opened' %}
            {% set action = 'Opened issue' %}
        {% end %}

    {% elif post['type'] == 'GollumEvent' %}
        {% set action = 'Edited' %}

    {% elif post['type'] == 'ForkEvent' %}
        {% set action = 'Forked' %}

    {% elif post['type'] == 'FollowEvent' %}
        {% set action = 'Followed' %}

    {% elif post['type'] == 'DeleteEvent' %}
        {% set action = 'Deleted' %}

    {% elif post['type'] == 'CreateEvent' %}
        {% if post['payload']['ref_type'] == 'branch' %}
            {% set action = 'Created branch' %}
        {% elif post['payload']['ref_type'] == 'repository' %}
            {% set action = 'Created repo' %}
        {% end %}
    {% end %}

    <h5>
        <i class="fa fa-github"></i>
        <sm>
            {{ action }}
            <a href="https://github.com/{{ post['repo']['name'] }}" target='_blank' class='time'>{{ post['_']['created'] }}z</a>
        </sm>
    </h5>
{% end block %}


{% block center %}
    <p>
        {% if post['type'] == 'WatchEvent' %}
            Started watching <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>

        {% elif post['type'] == 'PushEvent' %}
            Pushed to <a href="https://github.com/{{post['repo']['name']}}/tree/{{ post['payload']['ref'].split('/')[-1] }}" target="_blank">{{ post['payload']['ref'].split('/')[-1] }}</a> at <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>
            <ul>
                {% for commit in post['payload']['commits'] %}
                    <li><a href="https://github.com/{{ post['repo']['name'] }}/commit/{{ commit['sha'] }}" target="_blank">{{ commit['sha'][:7] }}</a> {{commit['message']}}</li>
                {% end %}
            </ul>

        {% elif post['type'] == 'PullRequestEvent' %}

            {% if post['payload']['action'] == 'closed' %}
                Closed pull request <a href="{{post['payload']['pull_request']['html_url']}}" target="_blank">{{post['repo']['name']}}#{{post['payload']['number']}}</a>
                <br>
                <em>{{post['payload']['pull_request']['title']}}</em>

            {% elif post['payload']['action'] == 'opened' %}
                Opened pull request <a href="{{post['payload']['pull_request']['html_url']}}" target="_blank">{{post['repo']['name']}}#{{post['payload']['number']}}</a>
                <br>
                <em>{{post['payload']['pull_request']['title']}}</em>
                <br>
                <small>{{post['payload']['pull_request']['commits']}} commits with {{post['payload']['pull_request']['additions']}} additions and {{post['payload']['pull_request']['deletions']}} deletions</small>
            {% else %}
                UNKNOWN PullRequestEvent {{post}}
            {% end %}

        {% elif post['type'] == 'IssueCommentEvent' %}
            Commented on issue <a href="{{post['payload']['comment']['html_url']}}" target="_blank">{{post['repo']['name']}}#{{post['payload']['issue']['number']}}</a>
            <br>
            <em>{{post['payload']['comment']['body']}}</em>

        {% elif post['type'] == 'IssuesEvent' %}
            {% if post['payload']['action'] == 'closed' %}
                Closed issue <a href="{{post['payload']['issue']['html_url']}}" target="_blank">{{post['repo']['name']}}#{{post['payload']['issue']['number']}}</a>
                <br>
                <em>{{post['payload']['issue']['title']}}</em>

            {% elif post['payload']['action'] == 'opened' %}
                Opened issue <a href="{{post['payload']['issue']['html_url']}}" target="_blank">{{post['repo']['name']}}#{{post['payload']['issue']['number']}}</a>
                <br>
                <em>{{post['payload']['issue']['title']}}</em>

            {% else %}
                UNKNOWN IssueEvent {{post}}
            {% end %}

        {% elif post['type'] == 'GollumEvent' %}
            Edited <a href="{{ post['payload']['pages'][0]['html_url'] }}" target="_blank">{{ post['payload']['pages'][0]['title']}}</a> at <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>

        {% elif post['type'] == 'ForkEvent' %}
            Forked <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a> to <a href="{{post['payload']['forkee']['html_url']}}" target="_blank">{{post['payload']['forkee']['full_name']}}</a>

        {% elif post['type'] == 'FollowEvent' %}
            Followed <a href="{{post['payload']['target']['html_url']}}" target="_blank">{{post['payload']['target']['login']}}</a>

        {% elif post['type'] == 'DeleteEvent' %}
            Deleted {{post['payload']['ref_type']}} {{post['payload']['ref']}} from <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>

        {% elif post['type'] == 'CreateEvent' %}
            {% if post['payload']['ref_type'] == 'branch' %}
                Created {{post['payload']['ref_type']}} <a href="https://github.com/{{post['repo']['name']}}/tree/{{post['payload']['ref']}}" target="_blank">{{post['payload']['ref']}}</a> from <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>
                <br>
                <em>{{post['payload']['description']}}</em>
            {% elif post['payload']['ref_type'] == 'repository' %}
                Created {{post['payload']['ref_type']}} <a href="https://github.com/{{post['repo']['name']}}" target="_blank">{{post['repo']['name']}}</a>
                <br>
                <em>{{post['payload']['description']}}</em>
            {% end %}

        {% else %}
            UNKNOWN GITHUB EVENT {{post}}
        {% end %}
    </p>
{% end block %}


{% block right %}

{% end bock %}
