{% extends "item.html" %}

{% block left %}
    {% set url = 'https://twitter.com/' + post['user']['screen_name'] + '/status/' + post['id_str'] %}

    <h5>
        <i class="fa fa-twitter"></i>
        <sm>
            Tweeted
            <a href="{{ url }}" target='_blank' class='time'>{{ post['_']['created'] }}z</a>
        </sm>
    </h5>
{% end bock %}


{% block center %}
    {% set text = post['text'] %}

    {% if post.get('retweeted_status', False) %}
        {% set text = post['retweeted_status']['text'] %}

        <p>
            <span class='text-muted'>
                Retweeted <a href="https://twitter.com/{{ post['retweeted_status']['user']['screen_name'] }}" target="_blank">{{ post['retweeted_status']['user']['name'] }}</a>
            </span>
        </p>

    {% elif post.get('in_reply_to_status_id', False) %}
        <p>
            <span class='text-muted'>
                Replied to <a href="https://twitter.com/{{ post['in_reply_to_screen_name'] }}" target="_blank">{{ post['in_reply_to_screen_name'] }}</a>
            </span>
        </p>
    {% end if %}

    <p>
        {% raw link_text(text) %}
    </p>
{% end bock %}


{% block right %}

{% end bock %}
